<!DOCTYPE html>
<html lang="{{app.request.locale}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/2560px-Flag_of_France.svg.png"/>
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<title>
			{% block title %}
				Title
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="flex flex-col justify-between items-center min-h-screen">

		<main class="my-6 flex flex-col items-center justify-center"> 
		{% block body %}{% endblock %}

			</main>

			<footer class="my-6">
				<p class="text-gray-500">
					&copy; Copyright
					{{'now'|date('Y')}}
					&middot;
					<a href="https://github.com/TheGeogeo" class="text-indigo-500 hover:text-indigo-900 hover:underline">TheGeogeo</a>
				</p>
			</footer>

			{% block javascripts %}{% endblock %}
		</body>
	</html>
